<!DOCTYPE html>
<html lqng="en">

<head>
	<title> tp5 </title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="index.js"></script>
	<script type="text/javascript" src="main.js"></script>
	<script type="text/javascript" src="vue.js"></script>
	<style>
		div.result {
			display: none;
		}
	</style>
</head>

<body>
	<div id="weatherApp">
		<h1 style="text-align:center"> Weather Forecast </h1>
		<div class="row">
			<div class="col-sm-offset-3 col-lg-6">
				<!-- formulaire de saisie de ville -->
				<form v-on:submit="addCity">
					<div class="input-group">
						<input type="search" class="form-control" v-model="formCityName" placeholder="Search for..."
							aria-label="Search for..." autofocus required>
						<span class="input-group-btn">
							<button class="btn btn-primary" type="submit">Go!</button>
						</span>
					</div>

					<!-- affichage de nombre de caractères saisie -->
					<small class="text-muted">
						{{formCityName.length}} car.
					</small>

					<div class="alert alert-danger" role="alert" v-if='messageForm != ""'>
						{{messageForm}}
					</div>
				</form>
				<!-- Listing des villes, boucle sur l'array : cityList -->
				<h4>Liste des villes ({{cityList.length}})</h4>
				<ul class="list-group">
					<a v-for="city in cityList" v-on:click="meteo(city)"
						class="list-group-item d-flex justify-content-between align-items-center">
						{{city.name}}
						<button v-on:click="remove(city)" class="btn btn-secondary btn-sm"
							title="Supprimer de la liste">&times;</button>
					</a>
				</ul>

				<div class="alert alert-primary" role="alert" v-if="cityList.length==0">
					Aucune ville de saisie!
				</div>
			</div>
		</div>

		<div class="result" style="text-align:center" id="result">
			<div class="col-sm-offset-3 col-lg-6">
				<!-- <h1 style="text-align:center" id="cityname"></h1>
			<div style="text-align:center" id="time"></div>
			<hr>
			<div style="text-align:center" id="icon"></div>
			<h3 style="text-align:center" id="temp"></h3>
			<div style="text-align:center" id="description"></div>
			<hr>
			<div class="form-group">
				<label for="humidity" class="col-sm-1 control-label" style.display="none">Humidity</label>
				<div style="text-align:center" id="humidity"></div>
			</div>
			<hr>
			<div class="form-group">
				<label for="cloud" class="col-sm-1 control-label">Nuage</label>
				<div style="text-align:center" id="cloud"></div>
			</div>
			<hr>
			<div class="form-group">
				<label for="wind" class="col-sm-1 control-label">Vent</label>
				<div style="text-align:center" id="wind"></div>
			</div>
			<hr>
			<div style="text-align:center" id="mapholder"></div> -->
				<div style="text-align: center;" id="weatherApp"> </div>
			</div>
		</div>
	</div>

</body>